main {
    /* display: flex; */
    /* flex-direction: row; */
    background-color:steelblue;
    height: 800px;
    width: 1400px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.my-cards-holder {
    position: absolute;
    /* background-color: aquamarine; */
    height: 180px;
    top: 600px;
    display: flex;
    align-items: flex-end;
    margin: auto;
}

.opposite-cards-holder {
    position: absolute;
    /* background-color:coral; */
    top: 20px;
}

.left-cards-holder {
    position: absolute;
    /* background-color:greenyellow; */
    left: 60px;
    top: 150px;
}

.right-cards-holder {
    position: absolute;
    /* background-color:greenyellow; */
    left: 1250px;
    top: 150px;
}

.card {
    height: 140px;
    position: absolute;
}

.card img {
    height: 100%;
}

.currentBiggestContainer {
    display: flex;
    justify-content: center;
    position: absolute;
    height: 145px;
    width: 500px;
    /* background-color: blueviolet; */
    top: 290px;
    left: 450px;
}

.playersNameAndScore {
    display: flex;
    flex-direction: column;
    position: absolute;
    height: 400px;
    width: 1045px;
    top: 180px;
    left: 180px;
    justify-content: space-between;
    align-items: center;
}

.leftNameAndScore{
    position: absolute;
    left: 0;
    top: 48%;
}

.rightNameAndScore {
    position: absolute;
    right: 0;
    top: 48%;
}

.button {
    display: flex;
    position: absolute;
    width: 100px;
    height: 70px;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size:larger;
    border: 2px solid;
    transition-duration: 0.1s;
}

.button:hover {
    border-color: white;
}

.button:active {
    transform: translateY(4px);
    color: white;
}

.play {        
    background-color:palegreen;
    border-color:#3e8e41;
    color:#3e8e41;
    top: 470px;
    left: 800px;    
}

.play:active {
    background-color:#48a149;    
}

.pass {    
    background-color: rgb(165, 165, 165);
    border-color:rgb(90, 90, 90);
    color:rgb(90, 90, 90);
    top: 470px;
    left: 500px;
}

.pass:active {
    background-color: rgb(124, 124, 124);
}

.sort {
    top: 700px;
    left: 1250px;
    background-color:wheat;
    color:rgb(153, 139, 112)
}

.sort:active {
    background-color: rgb(185, 168, 134)
}

.newGame {
    top: 700px;
    left: 50px;
    width: 150px;
    border-radius: 10%;
    background-color: rgb(255, 130, 130);
    color:rgb(175, 84, 84);
}

.newGame:active {
    background-color: rgb(189, 95, 95);
}

.login {
    width: 30%;
    margin: auto;
    padding-top: 200px;
    display: flex;
    flex-direction: column;
}

.login--name {
    height: 35px;
    background-color: lightsteelblue;
    border: solid 3px rgb(49, 92, 128);
    margin-bottom: 20px;
    font-weight: bold;
    font-size: large;
    color: rgb(49, 92, 128);
    padding-left: 15px;
}

.login--room {
    height: 35px;
    background-color: lightsteelblue;
    border: solid 3px rgb(49, 92, 128);
    font-weight: bold;
    font-size: large;
    color: rgb(49, 92, 128);
    padding-left: 15px;
    margin-bottom: 50px;
}

.login--button {
    width: 40%;
    height: 60px;
    background-color: lightsteelblue;
    border: solid 3px rgb(49, 92, 128);
    font-weight: bold;
    font-size:x-large;
    color: rgb(49, 92, 128);
    margin: auto;
    cursor: pointer;
}

.login--button:active {
    transform: translateY(4px);
}





.login ::placeholder {
    color: rgb(139, 139, 139)
}