main {
    /* display: flex; */
    /* flex-direction: row; */
    background-color: aqua;
    height: 800px;
    width: 1400px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.my-cards-holder {
    position: absolute;
    background-color: aquamarine;
    height: 180px;
    top: 600px;
    display: flex;
    align-items: flex-end;
    margin: auto;
}

.opposite-cards-holder {
    position: absolute;
    background-color:coral;
    top: 20px;
}

.left-cards-holder {
    position: absolute;
    background-color:greenyellow;
    left: 60px;
    top: 150px;
}

.right-cards-holder {
    position: absolute;
    background-color:greenyellow;
    left: 1250px;
    top: 150px;
}

.card {
    height: 140px;
    position: absolute;
}

.card img {
    height: 100%;
}

.currentBiggestContainer {
    display: flex;
    justify-content: center;
    position: absolute;
    height: 145px;
    width: 500px;
    background-color: blueviolet;
    top: 290px;
    left: 450px;
}

.button {
    display: flex;
    position: absolute;
    width: 100px;
    height: 70px;
    background-color: brown;
    justify-content: center;
    align-items: center;
}

.play {    
    top: 470px;
    left: 800px;
}
