main {
    /* display: flex; */
    /* flex-direction: row; */
    background-color: aqua;
    height: 800px;
    width: 1400px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.my-cards-holder {
    position: absolute;
    background-color: aquamarine;
    height: 180px;
    top: 600px;
    display: flex;
    align-items: flex-end;
    margin: auto;
}

.opposite-cards-holder {
    position: absolute;
    background-color:coral;
    top: 20px;
}

.left-cards-holder {
    position: absolute;
    background-color:greenyellow;
    left: 60px;
    top: 150px;
}

.right-cards-holder {
    position: absolute;
    background-color:greenyellow;
    left: 1250px;
    top: 150px;
}

.card {
    height: 140px;
    position: absolute;
}

.card img {
    height: 100%;
}

.currentBiggestContainer {
    display: flex;
    justify-content: center;
    position: absolute;
    height: 145px;
    width: 500px;
    background-color: blueviolet;
    top: 290px;
    left: 450px;
}

.playersNameAndScore {
    position: absolute;
    height: 400px;
    width: 1045px;
    top: 180px;
    left: 180px;
}

.myNameAndScore {
    position: absolute;
    bottom: 0;
    left: 47%
}

.oppositeNameAndScore{
    position: absolute;
    top: 0;
    left: 47%
}

.leftNameAndScore{
    position: absolute;
    left: 0;
    top: 48%;
}

.rightNameAndScore {
    position: absolute;
    right: 0;
    top: 48%;
}

.button {
    display: flex;
    position: absolute;
    width: 100px;
    height: 70px;
    background-color: brown;
    justify-content: center;
    align-items: center;
}

.play {    
    top: 470px;
    left: 800px;
}

.pass {    
    top: 470px;
    left: 500px;
}

.newGame {
    top: 700px;
    left: 50px;
}

.loginForm {
    width: 50%;
    margin: auto;
    padding-top: 200px;
    display: flex;
    flex-direction: column;
}

.loginButton {
    margin: auto;
}